a {
  color: #ff9302;
}
a:hover {
  color: #ffb701;
}
.sidebar-nav_upper {
  background: #5586a6;
  margin: 0;
  padding: 15px;
}
#sidebar-nav_upper__search-form {
  border-radius: 50px;
}
.sidebar-nav_list {
  background: #3d5a68;
  color: white;
}
.sidebar-nav_list__tags {
  background: transparent;
  border: 0px;
  color: #ff9302;
  cursor: default;
  font-size: larger;
  font-weight: bolder;
}
.sidebar-nav_list a {
  border: 0px;
  background: transparent;
  color: white;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar-nav_list a:hover {
  background: linear-gradient(90deg, #ffb701, #ffb701, #3d5a68, #3d5a68);
}
.git_logo {
  width: 20px;
}