a {
  color: #ff9302;
}
a:hover {
  color: #ffb701;
}
.sidebar-nav {
  height: min-content;
  position: sticky;
  top: 0;
}
.sidebar-nav_back {
  background: linear-gradient(0deg, #5586a6, white, white, #5586a6);
  height: 75vh;
}
.sidebar-nav_upper {
  background: #5586a6;
  margin: 0;
  padding: 15px;
}
#sidebar-nav_upper__search-form {
  border-radius: 50px;
}
.sidebar-nav_list {
  background: #3d5a68;
  color: white;
}
.sidebar-nav_list__tags {
  background: transparent;
  border: 0;
  color: #ff9302;
  cursor: default;
  font-size: larger;
  font-weight: bolder;
}
.sidebar-nav_list a {
  border: 0;
  background: transparent;
  color: white;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar-nav_list a:hover {
  background: linear-gradient(90deg, #ffb701, #ffb701, #3d5a68, #3d5a68);
}
.sub-navigation {
  background: #212b2d!important;
  color: #ffb701!important;
}
.content_logo {
  width: 20px;
  vertical-align: text-bottom;
}
.content-body {
  min-height: 75vh;
}
